/*An External Style sheet is used to define the style for my HTML page*/

/*==============Title Text Shadow==========*/
body {
			font: 25px/2 "times new roman", times, serif;
			color: #000;
		}
		h1 {
			text-shadow: -9px 8px 8px #999;
		}
		em {
			font-weight: bold;
			padding: 8px;
		}
		#elephant {
			color: #eee;
			background: #999;
			text-shadow: 2px 1px 0 #000;
		}
		#plesiosaur {
			background: #bde;
			color: #06c;
			text-shadow: 0 -3px 1px #fff;
		}
		#tourist {
			color: #efa;
			background: #be0;
			text-shadow: 0 0 4px #360;
		}
/*====^^^^^^======Title Text Shadow====^^^^^^======*/

body {
    font-family: "Lato", sans-serif;
    transition: background-color .5s;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
